body{
  text-align: center;
  background-color: #f142f4;
  font-family: sans-serif;
}

#content-wrapper{
  background-color: #ffffff;
  margin: 0px 200px;
  padding: 100px 0px 200px 0px;
}

#header{
  margin: 0px;
  padding: 0px 0px 50px 0px;

}

#form{
  padding: 20px;

}

#results{


}

.primary{
  padding: 20px;
}
