body{
  text-align: center;
  background-color: #f142f4;
  font-family: sans-serif;
  color: #f142f4;
}

#wrapper{
  background-color: #ffffff;
  margin: 0px 200px;
  padding: 100px 0px 200px 0px;
}

#header{
  margin: 0px;
  padding: 0px 0px 50px 0px;
  font-size: 32px;
  font-weight: bolder;
}

#form{
  padding: 20px;

}

#results{


}

.primary{
  padding: 20px;
}

#restaurant{
  background-color: #f8a2fa;
}

#date{
  background-color: #f8a2fa;
}

#comments{
  background-color: #f8a2fa;
}

#save{
  background-color: #f8a2fa;
}

button {
  background-color: #f8a2fa;
}

li {
  padding: 20px 0px 15px 0px;
}
